#root {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.body-core {
  width: 800px;
  margin: 0 auto;
}

.read-the-docs {
  color: #888;
}

.disable {
  opacity: 30%;
}

h1 {
  text-align: center;
}
