.tools-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
    width: 100%;
}

.box-bar {
    display: flex;
    align-items: center;
}

.select_inline {
    display: inline-block;
}

.tools-bar-users {
    display: flex;
    align-items: center;
    gap: 3px;
    flex-wrap: wrap;
}