.repo_card {
    border: 1px;
    padding: 10px 10px 10px 10px;
    margin: 2px 2px 2px 2px;
    border-radius: 10px;
    justify-content: space-between;
    background-color: var(--test2);
}

.repo_card-top-bar {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.main_layout {
    display: flex;
    flex-direction: column;
}

.main_title {
    text-align: center;
    font-weight: 900;
}

.icon_link {
    display: flex;
    align-items: center;
    height: 20px;
}

.icon_link > a {
    font-size: 10px;
    margin-left: 5px;
}

.icon_link > p {
    font-size: 10px;
    margin-left: 5px;
}