.icon-top-bar {
    margin: 0 auto;
    cursor: pointer;
}

.icon-img {
    width: 120px;
    height: auto;
}

.top-bar {
    width: 100%;
    padding: 5px 5px 5px 5px;
    background-color: #26283d;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 1),
}

.icons {
    display: grid;
    grid-template-columns: 1fr auto;
    width: fit-content;
    column-gap: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.top-bar-icon {
    padding: 10px 10px 5px 10px;
}

.top-bar-selected {
    height: 5px;
    background: white;
    border-radius: 3px;
    grid-column: 1;
}

.top-bar-selected-left {
    grid-column: 1;
}
.top-bar-selected-right {
    grid-column: 2;
}
