
.top-bar {
    width: 100%;
    padding: 5px;
    margin: 0;
    background-color: #26283d;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-top-bar {
    margin: 0 auto;
}

.icon-img {
    width: 120px;
    height: auto;
}

.top-bar-icon-right {
    height: 100%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    gap: 1px;
    border-radius: 10px;
    cursor: pointer;
}

.icon-github-button {
    padding: 10px;
    background-color: #26283d;
    transform: translateY(2px);
    box-shadow: inset 3px 5px 8px rgba(0, 0, 0, 0.4);

}

.top-bar-selected {
    background-color: var(--test2);
}