.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary_color);
    border-radius: 10px;
}

.search-bar *{
    display: flex;
    align-items: center;
}
