.search-bar {
    width: 100%;
}
.search-bar-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.search-bar_side {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}
.search-bar-icon {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    gap: 3px;
    flex-wrap: wrap;
}